* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(238, 238, 238);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 1rem 10rem;
}

#logo a {
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.search-bar form{
    flex: 1;
    display: flex;
    justify-content: center;
}

.search-bar form input{
    width: 30rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: white; /* White background for input */
}

.search-bar form input:focus {
    outline: none;
    border: 2px solid grey; /* Bootstrap primary color */
}

.search-bar button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    background-color: darkgrey; /* Bootstrap primary color */
    cursor: pointer;
    color: white;

    &:hover {
        background-color: grey; /* Darker shade on hover */
        transition: background-color 0.3s ease;
    }

}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;

    img{
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        border-radius: 50%;
        font-size: 1rem;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.3s ease;
        }
    }


    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;; 
    }
}
