#create-service-section{
    background-color: rgb(104, 104, 104);
    margin: 0;
    padding: 2rem 15rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
        height: 3rem;
        width: 15rem;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);

        &:hover{
            transform: scale(1.1);
            transition: all 0.3s ease;
        }
    }
}

#default-searches{
    background-color: lightgrey;

    #categories-list{
        padding: 1rem 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        list-style: none;
    
        li a{
            text-decoration: none;
            color: black;
            display: inline-block;

            &:hover{
                transform: scale(1.2);
                transition: all 0.3s ease;
            }
        }    
    }
}

footer{
    display: flex;
    justify-content: center;
}


