body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%; 
    grid-template-areas: 
        "header image" 
        "form image"; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hide {
    display: none;
}

header {
    grid-area: "header";
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 4rem;
        font-weight: 700;
        margin: 0;

        a{
            text-decoration: none;
            color: inherit;
        }
        
    }
}

#register-form {
    margin: 0;
    padding: 0;
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: auto;

    h2{
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0;
        padding: 1rem;
    }

    .username{
        margin: 1rem;
        
        input{
            background-color: rgb(239, 239, 239);
            width: 20vw;
            height: 5vh;
            border: 1px solid black;
            border-radius: 1px;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .password{
        margin: 1rem;
        
        input{
            background-color: rgb(239, 239, 239);
            width: 20vw;
            height: 5vh;
            border: 1px solid black;
            border-radius: 1px;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .confirm-password{
        margin: 1rem;
        
        input{
            background-color: rgb(239, 239, 239);
            width: 20vw;
            height: 5vh;
            border: 1px solid black;
            border-radius: 1px;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .email{
        margin: 1rem;
        
        input{
            background-color: rgb(239, 239, 239);
            width: 20vw;
            height: 5vh;
            border: 1px solid black;
            border-radius: 1px;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .phone{
        margin: 1rem;
        
        input{
            background-color: rgb(239, 239, 239);
            width: 20vw;
            height: 5vh;
            border: 1px solid black;
            border-radius: 1px;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
        }
    }
     
    .register-button {
        margin-top: 1rem;
        margin-bottom: 0;
        
        button{
            cursor: pointer;
            background-color: black;
            border: none;
            border-radius: 5px;
            width: 20vw;
            height: 5vh;
            padding: 0.5rem;
            font-size: 1.5rem;
            text-align: center;
            color: white;
        }
    }

    .bottom-question{
        margin: 0;
        font-size: 1rem;
        text-align: center;
        
        a{
            text-decoration: none; 
            color: blue;
        }
    }    
}

#register-background{
    grid-area: image; 
    background: url('../images/login_register.jpg');
    background-size: cover;
}
  
footer {
    display: none;
    grid-area: unset;
}