body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/home-background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  box-sizing: border-box;
}

header .left,
header .right {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  min-width: 0;
}

header .left {
  justify-content: flex-start;
  font-size: 1.7rem;
  font-weight: bold;
}

header .center {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;

  button {
    border: none;
  }

  #hire-button {
    cursor: pointer;
    background-color: inherit;
    color: #fff;
    font-size: 1.6rem;
  }

  #bar {
    cursor: default;
    user-select: none;
    pointer-events: none;
    font-size: 1.6rem;
    margin: 0 1rem;
  }

  #offer-button {
    cursor: pointer;
    background-color: inherit;
    color: #fff;
    font-size: 1.6rem;
  }

  .selected {
    transition: all 0.1s ease;
    border-bottom: 3px solid #ff6363;
  }
}

header .right {
  justify-content: flex-end;
  gap: 1rem;

  a#register-button,
  a#login-button{
    font-size: 1.5rem;
    padding: 0.5vw 2vw;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background 0.2s, color 0.2s;
  }

  a#register-button {
    background-color: inherit;
    color: #fff;
  }

  a#login-button {
    background-color: #0088cc;
    color: #fff;
  }

  a#login-button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  a#register-button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
}

main {
  flex: 1 1 auto;
  margin-top: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  padding: 2rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h1 {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

section p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 0;
}

section .btn {
  font-size: 1.5rem;
  background: #0088bb;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10vh;
}

section .btn:hover {
  background: #0077bb;
}

footer {
  color: #fff;
  display: flex;
  justify-content: center;
}

.hide {
  opacity: 0;
}
